#poststuff {
    #ry-line-message-action,
    #ry-line-richmenu-action,
    #ry-line-richmenu-operate {
        .inside {
            margin: 0;
            padding: 0;
        }
    }
}

.ry-line-row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -1rem;
    margin-left: -1rem;

    > * {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.ry-line-col {
    flex: 1 0 0%;
}

.ry-line-col-auto {
    flex: 0 0 auto;
    width: auto;
}
label.ry-line-col-auto {
    padding-right: 0;
}

.image-area {
    overflow: hidden;
    user-select: none;

    svg {
        border: 1px solid #ddd;
    }
    text {
        fill: #fff;
        stroke-width: 3px;
        stroke: #000;
        font-size: 26px;
        font-weight: bold;
        paint-order: stroke;
    }

    .temp-line {
        pointer-events: none;
        opacity: 0.7;
    }

    .permanent-line {
        cursor: pointer;

        &:hover {
            stroke-width: 4;
        }
    }

    .dragging {
        &.horizontal {
            cursor: ns-resize;
        }
        &.vertical {
            cursor: ew-resize;
        }
    }

    // 當正在繪製時改變游標
    &.drawing {
        cursor: crosshair;
    }
}

#ry-line-message-action {
    pre {
        white-space: pre-wrap;
    }
}

#ry-line-message-content,
#ry-line-message-reply,
#ry-line-richmenu-content,
#ry-line-image-area {
    input[type="text"],
    input[type="url"],
    textarea {
        width: 100%;
    }

    .form-table {
        th {
            padding: 15px 0;
        }
        td {
            padding: 10px 0;
        }
    }
}

#ry-line-message-content .form-table th {
    width: 100px;
}

#ry-line-message-reply .form-table th {
    width: 110px;
}

#ry-line-richmenu-content .form-table th {
    width: 150px;
}

#ry-line-image-area {
    .action-info {
        margin-bottom: 5px;
    }
}
