/**
 * Rewrite from
 *
 * flex2html
 * https://github.com/PamornT/flex2html
 * MIT License
 */

@use "sass:math";

// ================================
// Variables
// ================================
$color-primary: #849ebf;
$color-white: #ffffff;
$color-text: #444;
$color-text-secondary: #aaa;
$color-border: #d4d6da;
$color-btn-primary: #17c950;
$color-btn-secondary: #dcdfe5;
$color-btn-link: #42659a;
$color-black: #111111;

$line-height: 1.4;

// Spacing scale
$spacings: (
    "xs": 2px,
    "sm": 4px,
    "md": 8px,
    "lg": 12px,
    "xl": 16px,
    "xxl": 20px
);

$margin: (
    "none": 0,
    "xs": 2px,
    "sm": 4px,
    "md": 8px,
    "lg": 12px,
    "xl": 16px,
    "xxl": 20px
);

// Font sizes
$font-sizes: (
    "xxs": 11px,
    "xs": 13px,
    "sm": 14px,
    "md": 16px,
    "lg": 19px,
    "xl": 22px,
    "xxl": 29px,
    "3xl": 35px,
    "4xl": 48px,
    "5xl": 74px
);

// Layout sizes
$layout-sizes: (
    "giga": 500px,
    "mega": 300px,
    "kilo": 260px,
    "hecto": 241px,
    "deca": 220px,
    "micro": 160px,
    "nano": 120px
);

// Image sizes
$img-sizes: (
    "xxs": 40px,
    "xs": 60px,
    "sm": 80px,
    "md": 100px,
    "lg": 120px,
    "l": 140px,
    "xxl": 160px,
    "3xl": 180px,
    "4xl": 200px,
    "5xl": 220px,
    "full": 100%
);

// Image aspect ratios
$aspect-ratios: (
    "1to1": math.div(1, 1),
    "1_51to1": math.div(1, 1.51),
    "1_91to1": math.div(1, 1.91),
    "20to13": math.div(13, 20),
    "4to3": math.div(3, 4),
    "16to9": math.div(9, 16),
    "2to1": math.div(1, 2),
    "3to1": math.div(1, 3),
    "3to4": math.div(4, 3),
    "9to16": math.div(16, 9),
    "1to2": math.div(2, 1),
    "1to3": math.div(3, 1)
);

// Border widths
$border-widths: (
    "none": 0,
    "light": 0.5px,
    "normal": 1px,
    "medium": 2px,
    "semi-bold": 3px,
    "bold": 4px
);

// Border radius
$border-radii: (
    "None": 0,
    "xs": 2px,
    "sm": 4px,
    "md": 8px,
    "lg": 12px,
    "xl": 16px,
    "xxl": 20px
);

// ================================
// Base Styles
// ================================
.flex-message {
    background-color: $color-primary;
    line-height: $line-height;
    color: $color-text;
    font-size: 16px;
    overflow: hidden auto;
    font-weight: normal;
    font-style: normal;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0 solid transparent;
        font-size: 100%;
        list-style: none;
    }

    a {
        &:active,
        &:focus,
        &:hover,
        &:link,
        &:visited {
            text-decoration: none;
        }
    }

    .flex-bubble {
        overflow: hidden;
        width: 100%;

        @each $name, $size in $layout-sizes {
            &.size-#{$name} {
                max-width: $size;
            }
        }

        &[dir="ltr"] {
            direction: ltr;
        }
        &[dir="rtl"] {
            direction: rtl;
        }

        .flex-header,
        .flex-hero {
            flex: none;
        }
        .flex-body {
            flex: 1 0 0;
            flex-basis: auto;
        }
    }
}

.flex-bubble {
    border-radius: 17px;
    overflow: hidden;
    background-color: $color-white;
    display: flex;
    flex-direction: column;

    .flex-body,
    .flex-footer,
    .flex-header,
    .flex-hero {
        display: inherit;
        flex-direction: column;

        > div {
            flex-basis: auto;
        }
    }

    .flex-header > .flex-type-box {
        padding: 20px;
    }

    .flex-body > .flex-type-box {
        padding: 20px;
        padding-top: 19px;
    }

    .flex-footer > .flex-type-box {
        padding: 10px;
    }
}

.size-nano,
.size-micro {
    border-radius: 10px;

    .flex-header > .flex-type-box,
    .flex-body > .flex-type-box {
        padding: 10px;
    }
}
.size-deca,
.size-hecto {
    border-radius: 10px;

    .flex-header > .flex-type-box,
    .flex-body > .flex-type-box {
        padding: 11px 14px 13px;
    }
}
.size-kilo {
    border-radius: 10px;

    .flex-header > .flex-type-box,
    .flex-body > .flex-type-box {
        padding: 13px;
    }
}
.size-mega {
    border-radius: 17px;
}
.size-giga {
    border-radius: 5px;
    max-width: 500px;
}

// ================================
// Direction
// ================================

// ================================
// Base Module Styles
// ================================
.flex-type-button,
.flex-type-box,
.flex-type-icon,
.flex-type-image,
.flex-type-text,
[class*="flex-type-separator"] {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    min-width: 0;
    max-width: 100%;
}

// ================================
// Module: Box
// ================================
.flex-type-box {
    overflow: hidden;
    position: relative;

    &.layout-vertical {
        > div {
            flex: none;
            flex-basis: auto;
        }

        &.flex-0 {
            flex: none;
        }
    }

    &.layout-horizontal {
        flex-direction: row;
        width: 100%;

        > div {
            overflow: hidden;
            flex: 1 0 0;

            &.flex-type-separator {
                overflow: visible;
            }

            &.flex-0 {
                width: auto;
            }

            &[class*="flex-type-separator"] {
                flex: none;
            }

            &.position-absolute {
                width: auto;
            }
        }

        &.layout-baseline {
            align-items: baseline;
        }

        &.position-absolute {
            width: auto;

            > div {
                width: auto;
            }
        }

        > .flex-type-separator {
            align-self: stretch;
        }
    }

    > div {
        &.flex-0 {
            flex: none;
        }
    }

    // Justify content
    &.justify-flex-start {
        justify-content: flex-start;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-flex-end {
        justify-content: flex-end;
    }
    &.justify-space-between {
        justify-content: space-between;
    }

    &.justify-space-around {
        justify-content: space-around;
    }

    &.justify-space-evenly {
        justify-content: space-evenly;
    }

    // Align items
    &.align-flex-start {
        align-items: flex-start;
    }
    &.align-flex-end {
        align-items: flex-end;
    }
    &.align-center {
        align-items: center;
    }
}

.position-absolute .flex-type-box.layout-horizontal {
    width: auto;

    > div {
        width: auto;
    }
}

// ================================
// Module: Separator
// ================================
[class*="flex-type-separator"] {
    flex: none;
    box-sizing: content-box;
    width: 100%;
    border: 0 solid $color-border;
}

.flex-type-separator {
    position: relative;
    flex: none;

    &::before {
        box-sizing: content-box;
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 1px;
        border: inherit;
        border-top-width: 1px;
        transform-origin: left top;
        transform: scaleY(0.5);
    }

    &:last-child::before {
        margin-top: -1px;
        border-top-width: 0;
        border-bottom-width: 1px;
    }
}

.flex-type-separator {
    border-top-width: 1px;
}

// Horizontal separator in box
.flex-type-box.layout-horizontal > div.flex-type-separator {
    &::before {
        width: 1px;
        height: 100%;
        border-top-width: 0;
        border-left-width: 1px;
        transform: scaleX(0.5);
    }

    &:last-child::before {
        margin-top: 0;
        margin-left: -1px;
        border-left-width: 0;
        border-right-width: 1px;
    }
}

.flex-type-box.layout-horizontal > div.flex-type-separator {
    border-top-width: 0;
    border-left-width: 1px;
}

// ================================
// Module: Text
// ================================
.flex-type-text {
    position: relative;

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:empty {
            height: 1.4em;
        }
    }

    &.word-wrap p {
        text-overflow: clip;
        word-wrap: break-word;
        white-space: normal;
    }
    &.align-start p {
        text-align: start;
    }
    &.align-center p {
        text-align: center;
    }
    &.align-end p {
        text-align: end;
    }

    // Font sizes
    @each $name, $size in $font-sizes {
        &.size-#{$name} p {
            font-size: $size;
        }
    }
}

.flex-type-span {
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;

    // Font sizes
    @each $name, $size in $font-sizes {
        &.size-#{$name} {
            font-size: $size;
        }
    }
}

// ================================
// Module: Icon
// ================================
.flex-type-icon {
    position: relative;

    span {
        display: inline-block;
        overflow: hidden;
        background: no-repeat center;
        background-size: contain;
        width: 1em;
        height: 1em;
        vertical-align: baseline;
    }

    // Font sizes
    @each $name, $size in $font-sizes {
        &.size-#{$name} {
            font-size: $size;
        }
    }
}

// ================================
// Module: Button
// ================================
.flex-type-button {
    position: relative;

    a {
        display: inherit;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 52px;
        padding: 0 16px;
        border-radius: 8px;
        font-size: 16px;
    }

    div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }

    &.style-primary a {
        background-color: $color-btn-primary;
        color: $color-white;
    }

    &.style-secondary a {
        background-color: $color-btn-secondary;
        color: $color-black;
    }

    &.style-link a {
        color: $color-btn-link;
    }

    &.height-sm a {
        height: 40px;
    }
}

// ================================
// Module: Image
// ================================
.flex-type-image {
    align-items: center;
    overflow: hidden;
    position: relative;

    > div {
        max-width: 100%;
    }

    a {
        display: block;
        position: relative;
        width: 100%;
    }

    span {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
    }

    // Image sizes
    @each $name, $size in $img-sizes {
        &.size-#{$name} > div {
            width: $size;
        }
    }

    &.aspect-fit span {
        background-size: contain;
    }
    &.aspect-cover span {
        background-size: cover;
    }
}
.gravity-center {
    justify-content: center;
}
.gravity-top {
    justify-content: flex-start;
}
.gravity-bottom {
    justify-content: flex-end;
}

// ================================
// Utility: Padding
// ================================

.layout-vertical {
    @each $name, $size in $margin {
        > .margin-#{$name},
        &.margin-#{$name} {
            margin-top: $size;
        }
    }

    @each $name, $size in $spacings {
        &.spacing-#{$name} > div {
            margin-top: $size;
        }
    }
}
.layout-horizontal {
    @each $name, $size in $margin {
        > .margin-#{$name},
        &.margin-#{$name} {
            margin-inline-start: $size;
        }
    }

    @each $name, $size in $spacings {
        &.spacing-#{$name} > div {
            margin-inline-start: $size;
        }
    }
}

// ================================
// Utility: Padding
// ================================
@each $name, $size in $margin {
    .padding-#{$name} {
        padding: $size;
    }

    .padding-top-#{$name} {
        padding-top: $size;
    }

    .padding-bottom-#{$name} {
        padding-bottom: $size;
    }

    .padding-start-#{$name} {
        padding-inline-start: $size;
    }

    .padding-end-#{$name} {
        padding-inline-end: $size;
    }
}

// ================================
// Utility: Border
// ================================
@each $name, $width in $border-widths {
    .border-width-#{$name} {
        border-width: $width;
    }
}

@each $name, $radius in $border-radii {
    .border-radius-#{$name} {
        border-radius: $radius;
    }
}

// ================================
// Utility: Position
// ================================
.position-absolute {
    position: absolute;
    margin: 0;
    width: auto;
}

@each $name, $size in $margin {
    .offset-top-#{$name} {
        top: $size;
    }
    .offset-bottom-#{$name} {
        bottom: $size;
    }
    .offset-start-#{$name} {
        inset-inline-start: $size;
    }
    .offset-end-#{$name} {
        inset-inline-end: $size;
    }
}

// ================================
// Utility: Typography
// ================================
.font-weight-normal {
    font-weight: normal;
}
.font-weight-bold {
    font-weight: bold;
}

.font-style-normal {
    font-style: normal;
}
.font-style-italic {
    font-style: italic;
}

.decoration-none {
    text-decoration: none;
}
.decoration-underline {
    text-decoration: underline;
}
.decoration-line-through {
    text-decoration: line-through;
}
